@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Gutenberg helpers in headless */
.aligncenter { margin-left: auto; margin-right: auto; }
.alignwide, .alignfull { width: 100%; }
.wp-block-image img { height: auto; }
/* Make embeds and iframes responsive-ish */
.prose :where(iframe, embed, object) { width: 100%; aspect-ratio: 16 / 9; }
